package views

templ LoginError() {
<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"></link>
    <title>Logowanie 🤔</title>
    <style>
        .centered {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="centered">
        <h3 class="centered">Zaloguj się najpierw 🤷‍♀️</h3>
        <a href="http://localhost:4000/main-page">👉 Przejdź do strony głównej 👈</a>
    </div>
</body>
</html>
}